* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;
    background-color: #ec6666;
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid gainsboro;
}

.nav-items{
    float: right;
}

.nav-links{
    display: inline-block;
    color: #e6e5e5;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Georgia;
}

.nav-links:hover {
    text-decoration:none;
    background-color: #fff;
    color: black;
}

.container {
    background-color: initial;
    padding-top: 15px;
}

.header {
    text-align: left;
    margin: 14px 0px 30px 75px;
    font-family:  Verdana;
}

.post-list {
  overflow: hidden;
  max-width: 1150px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 35% 35%;
  grid-template-rows: 20em;
  grid-gap: 2em;
}

.post {
    list-style-type: none;
}

.title-container {
    margin-bottom: 9px;
}

.post-title{
  color: #312a2a;
  font-family: Times New Roman;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumb {
    height: 15em;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.75);
}

.thumb2{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(4px);
}

.thumb3{
  webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.success, .error {
  z-index: 100;
  font-family: courier;
  position: absolute;
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 4em;
  margin-top: 2em;
  width: 17%;
  line-height: 1.5;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.45);
}

.error{
  text-shadow: 0 0 1px rgba(212, 69, 69, 0.44), 0 1px 2px rgba(199, 39, 39, 0.45);
  color: #f33535;
}

.spinner{
  position: absolute;
  z-index: 100;
  margin-left: 12em;
  margin-top: 6em;
  border: 5px solid #fff;
  border-bottom: 5px solid rgba(34, 34, 34, 0.03);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.post-image {
  width: 100%;
  height: 15em;
}

.publish-button {
    background-color:#ec6666;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border:1px solid #ec6666;
	  display:inline-block;
	  cursor:pointer;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:12px;
	  padding:7px 10px;
	  text-decoration:none;
	  text-shadow:0px 1px 0px #2f6627;
    margin-top: 7px;
}

.disabled{
  opacity: 0.65;
  cursor: not-allowed;
}

.publish-button:hover {
	  background-color: #de5353;
}
.publish-button:active {
	  position:relative;
	  top:1px;
}

.footer {
    background-color: #ec6666;
    width: 100%;
    color: #fff;
    padding: 25px;
    font-size: 13px;
}

/* styles for login template*/

.login-menu {
  height: 40em;
}

.login-menu2 {
  height: 25em;
  width: 35em;
  margin: auto;
  margin-top: 10em;
  background-color: #eee;
}

.login-menu3 {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 3em;
}

a.fb-button {
  /* text-align: center; */
  text-decoration: none;
  border: 1px solid #ec6669;
  padding: 12px 40px 12px 40px;
  background: #ec6666;
  color: #fff;
  border-radius: 5px;
  margin-left: 14em;
}
