* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

.nav-bar {
  background: #3D3D3D;
  /* position: fixed; */
  z-index: 9999;
  height: 55px;
  width: 100%;
  list-style: none;
}

.nav-items{
    float: right;
}

.nav-links{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-family: Georgia;
}

.nav-links:hover {
    text-decoration:none;
    background-color: #fff;
    color: black;
}

.container {
    padding-top: 15px;
}

.header {
  text-align: center;
  margin: 50px 0px 0px 75px;
  font-family: Verdana;
  color: #3D3D3D;
}

.side-options {
  position: fixed;
  background-color: rgba(255,255,2555,1);
  top: 250px;
  right: 0;
  z-index: 12345678902;
  box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.12);
  -webkit-transition: 0.3s all;
  transition: 0.2s all;
  width: 74px;
  padding: 3px 0;
}

.side-icon {
  width: 30%;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.side-mark{
  background-image: url(/static/t.png);
  margin-top: 20px;
}

.side-item1{
  position: relative;
}

.side-text {
  border-radius: 2%;
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.text1 {
  top: 0.5em;
  width: 8em;
  right: 4.7em;
  padding: 12px;
}

.text2 {
  top: 4em;
  width: 12em;
  right: 4.5em;
  padding: 12px;
}

.side-item:hover .text1{
  visibility: visible;
  opacity: 1;
}

.side-item2:hover .text2{
  visibility: visible;
  opacity: 1;
}

.side-sch{
  background-image: url(/static/s.png);
}

.dvider {
  margin: 5px 15px 15px;
  border-bottom: 1px solid #d6c9c9;
}

.post-list {
  overflow: hidden;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 26em;
  grid-gap: 2em;
  padding: 3em 5em 8em 5em;
}

.post {
    list-style-type: none;
}

.thumb {
    /height: 15em;
    cursor: pointer;
}

.thumb:hover .post-title {
  white-space: normal;
}

.title-container {
  padding-bottom: 40px;
  position: relative;
}

.post-title{
  position: absolute;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 4px 10px;
  font-family: Times New Roman;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.75);
}

.thumb2{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(4px);
}

.thumb3{
  webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.success, .error {
  z-index: 100;
  font-family: courier;
  position: absolute;
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
  margin: 3em 3em;
  width: 17%;
  line-height: 1.5;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.45);
}

.error{
  text-shadow: 0 0 1px rgba(21, 19, 19, 0.44), 0 1px 2px rgba(23, 22, 22, 0.45);
  color: #f77373;
}

.spinner{
  position: absolute;
  z-index: 100;
  margin: 8em 9.5em;
  border: 5px solid #fff;
  border-bottom: 5px solid rgba(34, 34, 34, 0.03);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.post-image {
  width: 100%;
  height: 20em;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.75);
}

.publish-button {
  /background-color: #ec6666;
  background-color: #33987a;
  border-radius: 3px;
  border: 1px solid #33987a;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.1vw;
  font-family: Times New Roman;
  padding: 10px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.75);
}

.disabled{
  opacity: 0.65;
  cursor: not-allowed;
}

.publish-button:hover {
	background-color: #de5353;
  border: 1px solid #ec6666;
}


.footer {
  background: #3D3D3D;
  padding: 25px;
  width: 100%;
  color: #fff;
  text-align: center;
}

/* styles for login template*/

.login-menu {
  height: 40em;
}

.login-menu2 {
  height: 25em;
  width: 35em;
  margin: auto;
  margin-top: 10em;
  background-color: #eee;
}

.login-menu3 {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 3em;
}

a.fb-button {
  /* text-align: center; */
  text-decoration: none;
  border: 1px solid #ec6669;
  padding: 12px 40px 12px 40px;
  background: #ec6666;
  color: #fff;
  border-radius: 5px;
  margin-left: 14em;
}
