<html>
  <head>
    <title>Sprinkler</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <nav>
      <ul class='nav-bar'>
        <li style="float:left">
          <a href='/'>
          <div class='logo'>
            <span class='logo-link sprink'>Sprinkler</span>
          </div>
          </a>
          <!--  <a class="nav-links" href="/"> Sprinkler</a>-->
        </li>
        <li class="nav-items">
          {% if request.path == '/' %}
          <a class="nav-links" style='display:none' href="/">LogIn</a>
          {% else %}
          <a class='nav-links' href='/logout'> Log Out</a>
          {% endif %}
        </li>
        <li class="nav-items" style='display:none;'>
          <div class="menu"></div>
        </li>
        <li class="nav-items">
          {% if request.path == '/' %}
            <div class='menu' style='display:none;'></div>
          {% else %}
            <div class='menu category'></div>
          {% endif %}
        </li>
        <li class="nav-items bell">
          {% if request.path == '/' %}
          <div class='noti' style='display:none;'></div>
          {% else %}
          <div class='noti'></div>
          <div class='count' style='display:none;'></div>
          {% endif %}
        </li>
      </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
      <li class={{ category }}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block container %}
    {% endblock %}
    </div>
    <footer class='footer'>
      &copy;2017
    </footer>
  </body>
</html>
