{% extends "layout.html" %}
{% block container %}

<div class='container'>
  <div class='noti-container' style='display:none;'>
    <div class='noti-message'>
      <h2 class='noti-message2'>Notifications</h2>
    </div>
    <div class='no-noti'>
      <div class='show-bell noti'></div>
      <div class='noti-text'>
        <p> No new notifications :(</p>
      </div>
    </div>
  </div>
  <div id='big-image' class='big' style='display:none;'>
    <span class='cancel big-icon'></span>
    <span class='right big-icon'></span>
    <span class='left big-icon'></span>
    <video class="big-video" autoplay='autoplay' loop muted src='' type="video/mp4" style='display:none;'></video>
    <img class='b-image' src='' alt='post_image' style='display:none;'>
  </div>
  <div class="remove-box" style='display:none;'>
    <div class='add-icon error-icon'></div>
    <span class="error-message">Schedule Is Removed</span>
  </div>
  <div class="success-box" style='display:none;'>
    <div class='add-icon'></div>
    <span class="success-message">Schedule Is Added</span>
  </div>
  <h1 class='header'>Today's Posts</h1>
  <div class='side-options'>
    <div class='marked-header'>Select images for set publish time</div>
    <div class='marked-images'></div>
  </div>
  <ul class='post-list'>
    {% for post in posts %}
    <li class ="post"">
      <div class="thumb">
        <div class="title-container">
          <h3 class="post-title">
            {{post.Post.title}}
          </h3>
        </div>
        <div class='color'>
          <div class='spinner' style='display:none'></div>
          <p class='error' style='display:none'>Could not publish this post,please login again</p>
          <p class='success' style='display:none'>Your post successfully posted to Facebook</p>
          <span class='mark-container'>
            <span class='mark-post mark-icon' data-mark-id={{post.Image.local_url.split('/')[-1].split('.')[0]}} ></span>
          </span>
          {% if post.Image.local_url.endswith('.mp4') %}
          <video class="post-image" autoplay='autoplay' loop muted src={{post.Image.local_url}} type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {% else %}
          <img class='post-image' src='{{post.Image.local_url}}' alt='post_image'>
          {%endif%}
        </div>
      </div>
      <button type="button" class="publish-button" data-photo-id={{post.Image.local_url.split('/')[-1]}} >Publish</button>
      {% endfor %}
    </li>
  </ul>
</div>
<link rel="stylesheet" type=text/css href='/static/flatpickr.min.css'>
<script src="/static/flatpickr.min.js"></script>

<script>
 INITIAL_STATE = {

   isBigPictureVisible: false,
   allImages: document.querySelectorAll('.post-image'),
   selectedImages:[
     {% for i in schedule %}
     {id:'{{i.id}}', publishTime: '{{i.publish_time}}',src:'http://localhost:5000/{{i.src}}',title:'{{i.title}}'},
     {% endfor %}
   ]
 };
</script>

<script src='/static/script.js'></script>
{% endblock %}
